/* basic page styles */

$linkcolor: pink;

*, *:before, *:after {
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5 {

  font-weight: normal;
}

body {
	font-family: "mrs-eaves", georgia, serif;
	font-size: 1em;
	color: #555;
	line-height: 1.5;
  display: grid;
}

footer {

  width:100%;
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}

main {

  width:80%;
  margin:0 auto;
  border:1px solid red;

  &.subpages {

    height:100%;
  }
}

a {

  text-decoration: none;

  &:hover, &:active {

    border-bottom:3px solid $linkcolor;
  }

  &:visited {
    color: black;
  }
}

header {
  width:100%;

  .logo {

    text-align: center;
    margin:0 auto;
    padding-top:10vh;
    background-image: url(../images/header.jpg);
    background-size:cover;

  }

  nav {

    width:60%;
    margin:0 auto;
    text-align: center;

    ul {

      display: grid;
      grid-gap:10;
      grid-template-columns: repeat(4, 1fr);

      li {

        display:inline-block;
        list-style: none;
        padding:1em;
      }
    }
  }
}

.logo {

  img {
    width:35%;
  }

  padding-bottom:2.2rem;

}

nav {

  margin:0 auto;
  margin-bottom:2.2rem;

  ul {
    display: grid;
    grid-gap:10;
    grid-template-columns: repeat(4, 1fr);

    li {

      padding-top:1.2rem;
      display:inline-block;
      list-style: none;
      text-transform: lowercase;
    }
  }
}

p {

  padding-bottom: 1em;
}

#articles {
  display: grid;
	grid-template-columns: repeat(3,32%);
  grid-template-rows: none;
  grid-row-gap: 1.5em;
  grid-column-gap: 2%;
  grid-auto-flow: row;

  .blog-excerpt {

    clear:both;
    overflow: auto;
    border:1px solid purple;
    list-style: none;

    img {

      width:30%;
      float:left;
      margin-right:.5em;
      margin-bottom:.5em;

    }
  }
}

.articleinfo {

  padding-bottom: 2em;

}


@media (min-width: 16em) {


}

@media (min-width: 32em) {

}
