<!DOCTYPE html>
<html>
<head>
{{> meta }}
</head>
<body>

{{> header }}

<main{{#if navsub}} class="subpages"{{/if}}>

	<div class="content">

		<article>

			<section class='articleinfo'>
				<h1>{{ title }}</h1>
				<p>{{ dateFormat }}, {{ readingTime }}-minute read</p>
			</section>
			{{{ contents }}}

				<nav class="blognav">

					{{#if previous.title }}
					<div>
						<a href="/{{ previous.path }}" class="back">&laquo; {{ previous.title }}</a>
					</div>
					{{/if}}

					{{#if next.title }}
					<div class="next">
						<a href="/{{ next.path }}">{{ next.title }} &raquo;</a>
					</div>
					{{/if}}

				</nav>


			</article>

		</div>

</main>

{{> footer template='article' }}

</body>
</html>
