{{> header}}

<main class='content'>

	<section id='shopFeatured'>
		<h3>featured on <a href=''>Etsy</a></h3>
		<div id="etsyListings">
			<ul></ul>
		</div>
	</section>

	<!-- eventually limit this to 3 most recent + add link to blog at the bottom -->
	<section id='articles'>
		<h3>sometimes I write things</h3>

		<ul>
		 	{{#each collections.blog}}
				{{#isnt this.title "Blog"}}
				<li class='blog-excerpt'>
		 		 <h4><a href={{path}}>{{title}}</a></h3>
		 		 {{#if image}}
		 		 <img src={{image}} class='blog-hero'/>
		 		 {{/if}}
		 		 <p>{{excerpt}}</p>
				 <a class='read-more' href={{path}}>...read more &raquo;</a>
		 	 	</li>
				{{/isnt}}
		  {{/each}}
		</ul>
	</section>

	<section id="contact">
		<h3>Stay in touch</h3>
		<p>I have a mailing list. Won't you join it? I'll only send you good things -- like new product announcements and an occasional giveaway. No spam!</p>
		<h1>Mailchimp goes here</h1>

		<ul id="social_container">
			<li>[Twitter](https://twitter.com/phiden)</li>
			<li>[Etsy](https://phiden.etsy.com)</li>
			<li>[Facebook](https://facebook.com/phidenjewelry)</li>
			<li>[Instagram](https://instagram.com/phiden)</li>
		</ul>

	</section>

	<section id="about">
		<h3>Hi! I'm Sophia, your friendly neighborhood jeweler.</h3>
	</section>


</main>

{{> footer template='page' }}

</body>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='/js/shop-mini.js'></script>

</html>
