{{> header}}

<main class='content'>

	{{pagination.num}}
	{{pagination.next}}
	{{pagination.prev}}


	{{#each pagination.files}}
		{{article.title}}
	{{/each}}

	<section id='articles'>
 	{{#each collections.article}}

		{{#isnt this.title "Articles"}}
		<li class='blog-excerpt'>
 		 <h3><a href={{path}}>{{title}}</a></h3>
 		 {{#if image}}
 		 <img src={{image}} class='blog-hero'/>
 		 {{/if}}
 		 <p>{{excerpt}}</p>
 	 	</li>
		{{/isnt}}

 {{/each}}
</section>

</main>

{{> footer template='page' }}

</body>
</html>
