{{> header}}

<main class='content'>

	<section id='shopFeatured'>
		<h3>Some cheesy shop title - Featured</h3>
	</section>

	<!-- eventually limit this to 10 most recent + add link to blog at the bottom -->
	<section id='articles'>
 	{{#each collections.blog}}

		{{#isnt this.title "Blog"}}
		<li class='blog-excerpt'>
 		 <h3><a href={{path}}>{{title}}</a></h3>
 		 {{#if image}}
 		 <img src={{image}} class='blog-hero'/>
 		 {{/if}}
 		 <p>{{excerpt}}</p>
 	 	</li>
		{{/isnt}}

 {{/each}}
</section>

</main>

{{> footer template='page' }}

</body>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='/js/shop-mini.js'></script>

</html>
