{{> header }}

<button class='test'>CLICK ME</button>
<main{{#if navsub}} class="subpages"{{/if}}>

			{{#if title}}
				<h1>{{ title }}</h1>
			{{/if}}

			{{{ contents }}}

		{{> navsub }}

</main>

{{> footer template='page' }}

</body>

<!--
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='/js/shop.js'></script>
-->

<script type="text/javascript">
function getData(data) {
	console.log('getData');
  if (data.ok) {
		console.log('data ok', data);
        // do something with the data here
    } else {
        alert(data.error);
  }
}
</script>

<script src="https://openapi.etsy.com/v2/users/testusername.js?callback=getData&api_key=xlo8g1mbjnr9xwikydzlo6zk"></script>
</html>
