{{> header }}

<main id="etsy">



	<div id='vacationBanner' class='hidden'>
		<!-- put the vacation banner here; call it in loadShopDetails-->
	</div>

	<section id='etsyListings'>
		<ul></ul>

		<!--
$('#etsyListings ul').append('<li><img src="' + elem.MainImage.url_570xN + '"><h4>' + elem.title + '</h4><p class="price">' + elem.price + '</p><p class="description">' + elem.description + '</p><a href="' + elem.url + '" class="button">Shop on Etsy</a></li>')
-->
	</section>

	<div class='mainBanner'>
		<img id='etsyImg' src='' width="150" height="150"/>
		<div class='bannerCopy'>
			<h2>Shop <a id='etsyURL' href='' target='_blank'>Phiden</a> on Etsy</h2>
			<h3 id='etsyTagline'></h3>
			<p id='shopMessage' class='hidden'></p>
		</div>
	</div>
	
</main>

{{> footer template='page' }}

</body>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='/js/shop-test.js'></script>
</html>
